*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}


.alias {
  height: 100vh;
  width: 100%;
  margin: auto;
  text-align:center;
  padding: 5% 0;
  background-color: cyan;
}


  h1 {
    font-size: 6rem;
}

  p {
  font-size: 3rem;
  border: 0.2rem solid black;
  margin-top: 1.5rem;
  margin: 1rem 12rem 0rem 12rem;
  padding:1rem;
  border-radius: 1rem;
  color: black;
  background-color: white;
}

 a {
  text-decoration: none;
}

.settings {
  display: flex;
  flex-direction: column;
}

.settings label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.settings input {
  width: 20%;
  margin: auto;
  border: 0.2rem solid black;
  line-height: 1.5rem;
  text-align:center;
  border-radius: 1rem;
}

.btn-stng {
  width: 40%;
  margin-top: 0.5rem;
  border: 0.2rem solid black;
  line-height: 2rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 2rem;
  cursor:pointer;
}

.start {
  display: flex;
  flex-direction: column;
}

.start label {
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.start input, select {
  width: 20%;
  margin: auto;
  border: 0.2rem solid black;
  line-height: 1.5rem;
  text-align:center;
  border-radius: 1rem;
  margin-bottom: 0.5rem;
}

.btn-strt {
  width: 20%;
  margin: 0.5rem 1rem 0 1rem;
  border: 0.2rem solid black;
  line-height: 2rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 2rem;
  cursor:pointer;
}

.back {
  background-color: red;
  color: white;
}

.go {
  background-color: green;
  color: white;
}

.game {
  width: 80%;
  margin: auto;
  
}

.btn-game {
  width: 60%;
  margin: auto;
  border: 0.2rem solid black;
  font-size: 3rem;
  margin-top: 1.5rem;
  margin: 10rem 12rem 0rem 12rem;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  background-color: white;
  cursor: pointer;
}

.game-pts {
  width: 60%;
  margin: auto;
  background-color: unset;
  border: unset;
}

.btn-timer {
  font-size: 3rem;
  border-radius: 50%;
  border: none;
  width: 10%;
  margin-top: 2rem;
}

.btn-word {
  color: black;
  border: none;
  background-color: white;
  float: right;
}

.btn-step {
  font-size:2rem;
  margin-top: 2rem;
  width: 20%;
  color: black;
  border: none;
  background-color: unset;
  cursor: pointer;
}



.team1 {
  color: green;
}

.team1-pts {
  font-size: 2rem;
}


.team2 {
  color: red;
}

.team2-pts {
  font-size: 1.5rem;
}




/*

.btn-game {
  font-size: 3rem;
  border: 0.2rem solid black;
  margin-top: 1.5rem;
  margin: 10rem 12rem 0rem 12rem;
  padding: 1rem;
  border-radius: 1rem;
  color: black;
  background-color: white;
  cursor: pointer;
}

.game {
  display: flex;
  flex-direction: column;
}

.game p {
  margin-top: 10rem;
}

.btn-word {
  width: 20%;
  margin: auto;
  margin-top: 1rem;
  border: 0.2rem solid black;
  line-height: 2rem;
  background-color: white;
  border-radius: 1rem;
  font-size: 2rem;
  cursor:pointer;
}

.team1 {
  color: green;
  text-decoration: underline;
}

.team2 {
  color: red;
  text-decoration: underline;
}
*/

.game-container {
  display: block;
  position: relative;
  cursor: pointer;
  padding-left: 3.5rem;
  margin-bottom: 1.2rem;
  font-size: 2.2rem;
}

.game-container input {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
  cursor: pointer;
}

.game-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 2.5rem;
  width: 2.5rem;
  background: #ccc;
  border-radius: 50%;
}

.game-container:hover input ~ .game-checkmark {
  background: gray;
}

.game-container input:checked ~ .game-checkmark {
  background: green;
}

.game-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.game-container input:checked ~ .game-checkmark:after {
  display: block;
}

.game-container .game-checkmark:after {
  left: 0.9rem;
  top: 0.5rem;
  width: 0.5rem;
  height: 1rem;
  border: 0.2rem solid white;
  border-width: 0 0.3rem 0.3rem 0;
  transform: rotate(45deg);
}
